# Entornos virtuales
.venv/
venv/
env/
.env

# Archivos de python generados
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Datos (importante evitar subir datasets pesados al repo)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
data/siem_logs/*.log
data/siem_logs/*.jsonl

# Modelos pesados
*.gguf
modelos_entrenados/*.gguf
!modelos_entrenados/Modelfile

# Configuraciones y llaves secretas
config/*.json

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
